globalmobilitypartners/make/scenarios/4621318_meeting_content_trigger_DEPRECATED.json
{
    "code": "OK",
    "response": {
        "blueprint": {
            "flow": [
                {
                    "id": 1,
                    "mapper": {
                        "url": "https://api.monday.com/v2",
                        "method": "post",
                        "headers": [
                            {
                                "name": "Authorization",
                                "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYzNDQzOTk3NSwiYWFpIjoxMSwidWlkIjoxMDEwNzkxMTUsImlhZCI6IjIwMjYtMDMtMTdUMjI6MDI6MjkuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjUxNTY5MTcsInJnbiI6InVzZTEifQ.k74w9ifiaP8bFLxO0CMuI2Sy6Pk0v3pxuhVg1b50_6M"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ],
                        "contentType": "json",
                        "inputMethod": "jsonString",
                        "shareCookies": false,
                        "parseResponse": true,
                        "allowRedirects": true,
                        "stopOnHttpError": false,
                        "jsonStringBodyContent": "{\"query\": \"{ boards(ids: [18404381152]) { items_page(limit: 1, query_params: {rules: [{column_id: \\\"color_mm1j6ejs\\\", compare_value: [0]}]}) { items { id name } } } }\"}",
                        "requestCompressedContent": true
                    },
                    "module": "http:MakeRequest",
                    "version": 4,
                    "metadata": {
                        "expect": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL",
                                "required": true
                            },
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "get",
                                        "head",
                                        "post",
                                        "put",
                                        "patch",
                                        "delete",
                                        "options"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Body content type"
                            },
                            {
                                "name": "parseResponse",
                                "type": "boolean",
                                "label": "Parse response",
                                "required": true
                            },
                            {
                                "name": "stopOnHttpError",
                                "type": "boolean",
                                "label": "Return error",
                                "required": true
                            },
                            {
                                "name": "allowRedirects",
                                "type": "boolean",
                                "label": "Allow redirects",
                                "required": true
                            },
                            {
                                "name": "shareCookies",
                                "type": "boolean",
                                "label": "Share cookies",
                                "required": true
                            },
                            {
                                "name": "requestCompressedContent",
                                "type": "boolean",
                                "label": "Compressed",
                                "required": true
                            },
                            {
                                "name": "inputMethod",
                                "type": "select",
                                "label": "Body input method",
                                "required": true
                            },
                            {
                                "name": "jsonStringBodyContent",
                                "type": "text",
                                "label": "Body content",
                                "required": true
                            }
                        ],
                        "designer": {
                            "x": 0,
                            "y": 0
                        }
                    },
                    "parameters": {
                        "tlsType": "",
                        "proxyKeychain": "",
                        "apiKeyKeychain": 86399,
                        "authenticationType": "apiKey"
                    }
                },
                {
                    "id": 2,
                    "mapper": {
                        "url": "https://api.monday.com/v2",
                        "method": "post",
                        "headers": [
                            {
                                "name": "Authorization",
                                "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYzNDQzOTk3NSwiYWFpIjoxMSwidWlkIjoxMDEwNzkxMTUsImlhZCI6IjIwMjYtMDMtMTdUMjI6MDI6MjkuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjUxNTY5MTcsInJnbiI6InVzZTEifQ.k74w9ifiaP8bFLxO0CMuI2Sy6Pk0v3pxuhVg1b50_6M"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ],
                        "contentType": "json",
                        "inputMethod": "jsonString",
                        "shareCookies": false,
                        "parseResponse": true,
                        "allowRedirects": true,
                        "stopOnHttpError": false,
                        "jsonStringBodyContent": "{\"query\": \"mutation { create_item(board_id: 18401797200, group_id: \\\"group_mm0yk2g7\\\", item_name: \\\"{{1.data.data.boards[].items_page.items[].name}}\\\") { id } }\"}",
                        "requestCompressedContent": true
                    },
                    "module": "http:MakeRequest",
                    "version": 4,
                    "metadata": {
                        "expect": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL",
                                "required": true
                            },
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "get",
                                        "head",
                                        "post",
                                        "put",
                                        "patch",
                                        "delete",
                                        "options"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Body content type"
                            },
                            {
                                "name": "parseResponse",
                                "type": "boolean",
                                "label": "Parse response",
                                "required": true
                            },
                            {
                                "name": "stopOnHttpError",
                                "type": "boolean",
                                "label": "Return error",
                                "required": true
                            },
                            {
                                "name": "allowRedirects",
                                "type": "boolean",
                                "label": "Allow redirects",
                                "required": true
                            },
                            {
                                "name": "shareCookies",
                                "type": "boolean",
                                "label": "Share cookies",
                                "required": true
                            },
                            {
                                "name": "requestCompressedContent",
                                "type": "boolean",
                                "label": "Compressed",
                                "required": true
                            },
                            {
                                "name": "inputMethod",
                                "type": "select",
                                "label": "Body input method",
                                "required": true
                            },
                            {
                                "name": "jsonStringBodyContent",
                                "type": "text",
                                "label": "Body content",
                                "required": true
                            }
                        ],
                        "designer": {
                            "x": 300,
                            "y": 0
                        }
                    },
                    "parameters": {
                        "tlsType": "",
                        "proxyKeychain": "",
                        "apiKeyKeychain": 86399,
                        "authenticationType": "apiKey"
                    }
                },
                {
                    "id": 3,
                    "mapper": {
                        "url": "https://us1.make.com/api/v2/scenarios/4583539/run",
                        "method": "post",
                        "headers": [
                            {
                                "name": "Authorization",
                                "value": "Token 90c3d9cf-308f-4115-aa6f-9ad12e981b61"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ],
                        "contentType": "json",
                        "inputMethod": "jsonString",
                        "shareCookies": false,
                        "parseResponse": true,
                        "allowRedirects": true,
                        "stopOnHttpError": false,
                        "jsonStringBodyContent": "{\"responsive\": true, \"data\": {\"item_id\": \"{{2.data.data.create_item.id}}\", \"meeting_item_id\": \"{{1.data.data.boards[].items_page.items[].id}}\"}}",
                        "requestCompressedContent": true
                    },
                    "module": "http:MakeRequest",
                    "version": 4,
                    "metadata": {
                        "expect": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL",
                                "required": true
                            },
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "get",
                                        "head",
                                        "post",
                                        "put",
                                        "patch",
                                        "delete",
                                        "options"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Body content type"
                            },
                            {
                                "name": "parseResponse",
                                "type": "boolean",
                                "label": "Parse response",
                                "required": true
                            },
                            {
                                "name": "stopOnHttpError",
                                "type": "boolean",
                                "label": "Return error",
                                "required": true
                            },
                            {
                                "name": "allowRedirects",
                                "type": "boolean",
                                "label": "Allow redirects",
                                "required": true
                            },
                            {
                                "name": "shareCookies",
                                "type": "boolean",
                                "label": "Share cookies",
                                "required": true
                            },
                            {
                                "name": "requestCompressedContent",
                                "type": "boolean",
                                "label": "Compressed",
                                "required": true
                            },
                            {
                                "name": "inputMethod",
                                "type": "select",
                                "label": "Body input method",
                                "required": true
                            },
                            {
                                "name": "jsonStringBodyContent",
                                "type": "text",
                                "label": "Body content",
                                "required": true
                            }
                        ],
                        "designer": {
                            "x": 600,
                            "y": 0
                        }
                    },
                    "parameters": {
                        "tlsType": "",
                        "proxyKeychain": "",
                        "apiKeyKeychain": 86399,
                        "authenticationType": "apiKey"
                    }
                },
                {
                    "id": 4,
                    "mapper": {
                        "url": "https://api.monday.com/v2",
                        "method": "post",
                        "headers": [
                            {
                                "name": "Authorization",
                                "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYzNDQzOTk3NSwiYWFpIjoxMSwidWlkIjoxMDEwNzkxMTUsImlhZCI6IjIwMjYtMDMtMTdUMjI6MDI6MjkuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjUxNTY5MTcsInJnbiI6InVzZTEifQ.k74w9ifiaP8bFLxO0CMuI2Sy6Pk0v3pxuhVg1b50_6M"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ],
                        "contentType": "json",
                        "inputMethod": "jsonString",
                        "shareCookies": false,
                        "parseResponse": true,
                        "allowRedirects": true,
                        "stopOnHttpError": false,
                        "jsonStringBodyContent": "{\"query\": \"mutation { change_simple_column_value(board_id: 18404381152, item_id: {{1.data.data.boards[].items_page.items[].id}}, column_id: \\\"color_mm1j6ejs\\\", value: \\\"Complete\\\") { id } }\"}",
                        "requestCompressedContent": true
                    },
                    "module": "http:MakeRequest",
                    "version": 4,
                    "metadata": {
                        "expect": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL",
                                "required": true
                            },
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "get",
                                        "head",
                                        "post",
                                        "put",
                                        "patch",
                                        "delete",
                                        "options"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Body content type"
                            },
                            {
                                "name": "parseResponse",
                                "type": "boolean",
                                "label": "Parse response",
                                "required": true
                            },
                            {
                                "name": "stopOnHttpError",
                                "type": "boolean",
                                "label": "Return error",
                                "required": true
                            },
                            {
                                "name": "allowRedirects",
                                "type": "boolean",
                                "label": "Allow redirects",
                                "required": true
                            },
                            {
                                "name": "shareCookies",
                                "type": "boolean",
                                "label": "Share cookies",
                                "required": true
                            },
                            {
                                "name": "requestCompressedContent",
                                "type": "boolean",
                                "label": "Compressed",
                                "required": true
                            },
                            {
                                "name": "inputMethod",
                                "type": "select",
                                "label": "Body input method",
                                "required": true
                            },
                            {
                                "name": "jsonStringBodyContent",
                                "type": "text",
                                "label": "Body content",
                                "required": true
                            }
                        ],
                        "designer": {
                            "x": 900,
                            "y": 0
                        }
                    },
                    "parameters": {
                        "tlsType": "",
                        "proxyKeychain": "",
                        "apiKeyKeychain": 86399,
                        "authenticationType": "apiKey"
                    }
                }
            ],
            "name": "Meeting Content Trigger",
            "metadata": {
                "instant": false,
                "version": 1,
                "scenario": {
                    "dlq": false,
                    "dataloss": false,
                    "maxErrors": 3,
                    "autoCommit": true,
                    "roundtrips": 1,
                    "sequential": true,
                    "confidential": true,
                    "freshVariables": false,
                    "autoCommitTriggerLast": true
                }
            }
        },
        "scheduling": {
            "type": "on-demand"
        },
        "concept": false,
        "created": "2026-03-18T03:49:24.628Z",
        "last_edit": "2026-03-18T05:14:46.524Z",
        "metadata": {
            "input_spec": [],
            "output_spec": []
        },
        "idSequence": 7
    }
}
