globalmobilitypartners/make/scenarios/4621460_meeting_board_sync.json
{"code":"OK","response":{"blueprint":{"flow":[{"id":1,"mapper":{},"module":"monday:watchBoardColumnValuesV2","version":2,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"Generate Content"}}},"designer":{"x":-678,"y":6},"parameters":[{"name":"__IMTHOOK__","type":"hook:monday3","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":2653062}},{"id":2,"mapper":{"itemId":"{{1.pulseId}}","boardId":"18404381152","columnValuesToChange":[{"columnId":"color_mm1j3rfh","columnValue":{"label":"Processing","settings":{"labels":[{"id":0,"hex":"#fdab3d","color":0,"index":0,"label":"Processing","is_done":false,"is_deactivated":false},{"id":1,"hex":"#00c875","color":1,"index":1,"label":"Done","is_done":false,"is_deactivated":false},{"id":2,"hex":"#df2f4a","color":2,"index":2,"label":"Error","is_done":false,"is_deactivated":false}]},"selectType":"label2index"}}],"create_labels_if_missing":false},"module":"monday:ChangeMultipleColumnValuesV2","version":2,"metadata":{"expect":[{"name":"boardId","type":"select","label":"Board ID","required":true},{"name":"create_labels_if_missing","type":"boolean","label":"Create Labels if Missing","required":true},{"name":"itemId","type":"select","label":"Item ID","required":true},{"name":"columnValuesToChange","spec":[{"name":"columnId","type":"select","label":"Column ID","dynamic":true,"options":{"store":[]},"required":true,"validate":false}],"type":"array","label":"Column Values to Change","required":true}],"restore":{"expect":{"itemId":{"mode":"edit"},"boardId":{"mode":"chose","label":"AI Meeting Notes Tracker  ::  public"},"columnValuesToChange":{"mode":"chose","items":[{"columnId":{"mode":"edit"},"columnValue":{"nested":{"label":{"mode":"edit"},"selectType":{"mode":"edit"}}}}]},"create_labels_if_missing":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"monday"},"label":"Kyles API"}}},"designer":{"x":-335,"y":10},"parameters":[{"name":"__IMTCONN__","type":"account:monday","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":153017}},{"id":4,"mapper":{"name":"{{1.pulseName}}","boardId":"18401797200","groupId":"group_mm0yk2g7","create_labels_if_missing":false},"module":"monday:CreateItemV2","version":2,"metadata":{"expect":[{"name":"name","type":"text","label":"Item Name","required":true},{"name":"boardId","type":"select","label":"Board ID","required":true},{"name":"create_labels_if_missing","type":"boolean","label":"Create Labels if Missing","required":true},{"name":"groupId","type":"select","label":"Group ID"},{"name":"columnValuesToChange","spec":[{"name":"columnId","type":"select","label":"Column ID","options":[{"label":"AI Generated?","value":"color_mm124b5v","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"Index","value":"index2index","nested":[{"name":"index","type":"select","label":"Index","options":[{"label":"Working on it","value":"0"},{"label":"Done","value":"1"},{"label":"Stuck","value":"2"}],"editable":true,"required":true}]},{"label":"Label","value":"label2index","nested":[{"name":"label","type":"select","label":"Label","options":[{"label":"Working on it","value":"Working on it"},{"label":"Done","value":"Done"},{"label":"Stuck","value":"Stuck"}],"editable":true,"required":true,"validate":false}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Approval Status","value":"color_mm1hsn3k","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"Index","value":"index2index","nested":[{"name":"index","type":"select","label":"Index","options":[{"label":"Working on it","value":"0"},{"label":"Done","value":"1"},{"label":"Stuck","value":"2"}],"editable":true,"required":true}]},{"label":"Label","value":"label2index","nested":[{"name":"label","type":"select","label":"Label","options":[{"label":"Working on it","value":"Working on it"},{"label":"Done","value":"Done"},{"label":"Stuck","value":"Stuck"}],"editable":true,"required":true,"validate":false}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Approved for Marketing","value":"color_mm0yj09p","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"Index","value":"index2index","nested":[{"name":"index","type":"select","label":"Index","options":[{"label":"Yes","value":"1"},{"label":"No","value":"2"}],"editable":true,"required":true}]},{"label":"Label","value":"label2index","nested":[{"name":"label","type":"select","label":"Label","options":[{"label":"Yes","value":"Yes"},{"label":"No","value":"No"}],"editable":true,"required":true,"validate":false}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Blog Draft","value":"long_text_mm0yfxyy","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Blog Image","value":"file_mm1hfbh3","nested":[{"name":"columnValue","spec":[{"name":"clear_all","type":"boolean","label":"Clear All","default":true,"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Call Type","value":"color_mm0y452n","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"Index","value":"index2index","nested":[{"name":"index","type":"select","label":"Index","options":[{"label":"Client Success","value":"0"},{"label":"Sales","value":"1"},{"label":"Escalation","value":"2"}],"editable":true,"required":true}]},{"label":"Label","value":"label2index","nested":[{"name":"label","type":"select","label":"Label","options":[{"label":"Client Success","value":"Client Success"},{"label":"Sales","value":"Sales"},{"label":"Escalation","value":"Escalation"}],"editable":true,"required":true,"validate":false}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Client Industry","value":"dropdown_mm0yax9z","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"ID","value":"id2id","nested":[{"help":"**To clear previous choices sent an empty array.**\nIf you map this value yourself, prepare an array of integers (e.g. using our functions parseNumber and split).","name":"ids","spec":{"type":"select","label":"ID","options":[],"editable":true,"required":true},"type":"array","label":"IDs"}]},{"label":"Label","value":"label2id","nested":[{"help":"**To clear previous choices sent an empty array.**","name":"labels","spec":{"type":"select","label":"Label","options":[],"editable":true,"required":true,"validate":false},"type":"array","label":"Labels"},{"name":"settings","type":"hidden","default":{"labels":[]}}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Connect boards","value":"board_relation_mm136cy5","nested":[{"name":"columnValue","spec":[{"help":"Be sure to select only one item if the column has not allowed linking to multiple items.","name":"item_ids","type":"select","label":"Item","options":"rpc://monday/2/RpcBoardItems?boardId=18401797200","multiple":true,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Content Pillar","value":"dropdown_mm0yart6","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"ID","value":"id2id","nested":[{"help":"**To clear previous choices sent an empty array.**\nIf you map this value yourself, prepare an array of integers (e.g. using our functions parseNumber and split).","name":"ids","spec":{"type":"select","label":"ID","options":[{"label":"Compliance Risk","value":0},{"label":"Scaling Globally","value":1},{"label":"Fixing Broken Processes","value":2},{"label":"Operational Strategy","value":3},{"label":"Pricing & Value","value":4}],"editable":true,"required":true},"type":"array","label":"IDs"}]},{"label":"Label","value":"label2id","nested":[{"help":"**To clear previous choices sent an empty array.**","name":"labels","spec":{"type":"select","label":"Label","options":[{"label":"Compliance Risk","value":"Compliance Risk"},{"label":"Scaling Globally","value":"Scaling Globally"},{"label":"Fixing Broken Processes","value":"Fixing Broken Processes"},{"label":"Operational Strategy","value":"Operational Strategy"},{"label":"Pricing & Value","value":"Pricing & Value"}],"editable":true,"required":true,"validate":false},"type":"array","label":"Labels"},{"name":"settings","type":"hidden","default":{"labels":[{"id":0,"label":"Compliance Risk","is_deactivated":false},{"id":1,"label":"Scaling Globally","is_deactivated":false},{"id":2,"label":"Fixing Broken Processes","is_deactivated":false},{"id":3,"label":"Operational Strategy","is_deactivated":false},{"id":4,"label":"Pricing & Value","is_deactivated":false}]}}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Content Score","value":"numeric_mm0ym39x","nested":[{"name":"columnValue","type":"number","label":"Value","required":true}]},{"label":"Core Problem","value":"long_text_mm0y6akq","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"FAQ Entry","value":"long_text_mm0y9fs1","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Hidden Risk","value":"long_text_mm0y5wsy","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"LinkedIn Hooks","value":"long_text_mm0y6gaj","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"LinkedIn Image","value":"file_mm1h1xg7","nested":[{"name":"columnValue","spec":[{"name":"clear_all","type":"boolean","label":"Clear All","default":true,"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"LinkedIn Post","value":"long_text_mm0ygp2e","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Meta Description","value":"text_mm0ywtxh","nested":[{"name":"columnValue","type":"text","label":"Value","required":true}]},{"label":"Objection Handled","value":"long_text_mm0yyfr9","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Publish Date (MST)","value":"date_mm1hz0qw","nested":[{"name":"columnValue","spec":[{"name":"date","type":"date","label":"Date","required":true},{"name":"includeTime","type":"boolean","label":"Include Time","default":false,"editable":false,"required":true,"validate":false}],"type":"collection","label":"Value","required":true}]},{"label":"Review Deadline","value":"date_mm1hmfkf","nested":[{"name":"columnValue","spec":[{"name":"date","type":"date","label":"Date","required":true},{"name":"includeTime","type":"boolean","label":"Include Time","default":false,"editable":false,"required":true,"validate":false}],"type":"collection","label":"Value","required":true}]},{"label":"Reviewer","value":"multiple_person_mm1h3wz0","nested":[{"name":"columnValue","spec":[{"name":"personsAndTeams","spec":[{"name":"kind","type":"select","label":"Kind","options":[{"label":"Person","value":"person","nested":[{"name":"id","type":"select","label":"ID","options":"rpc://monday/2/RpcUsers","editable":true,"required":true}]},{"label":"Team","value":"team","nested":[{"name":"id","type":"select","label":"ID","options":"rpc://monday/2/RpcTeams","editable":true,"required":true}]}],"editable":false,"required":true}],"type":"array","label":"Persons and Teams","editable":true,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"SEO Title","value":"text_mm0ytyts","nested":[{"name":"columnValue","type":"text","label":"Value","required":true}]},{"label":"Strategic Insight","value":"long_text_mm0ytt6x","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]},{"label":"TS Ready?","value":"color_mm12kp9j","nested":[{"name":"columnValue","spec":[{"name":"selectType","type":"select","label":"Index/Label","options":[{"label":"Index","value":"index2index","nested":[{"name":"index","type":"select","label":"Index","options":[{"label":"Yes","value":"1"},{"label":"No","value":"2"}],"editable":true,"required":true}]},{"label":"Label","value":"label2index","nested":[{"name":"label","type":"select","label":"Label","options":[{"label":"Yes","value":"Yes"},{"label":"No","value":"No"}],"editable":true,"required":true,"validate":false}]}],"editable":false,"required":true}],"type":"collection","label":"Value","required":true}]},{"label":"Transcript Excerpt","value":"long_text_mm0y5paq","nested":[{"name":"columnValue","spec":[{"name":"text","type":"text","label":"Text","required":true}],"type":"collection","label":"Value","required":true}]}],"required":true,"validate":false}],"type":"array","label":"Array of column values"}],"restore":{"expect":{"boardId":{"mode":"chose","label":"Marketing Content Engine  ::  public"},"groupId":{"mode":"chose","label":"Generated Content"},"columnValuesToChange":{"mode":"chose"},"create_labels_if_missing":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"monday"},"label":"Kyles API"}}},"designer":{"x":-25,"y":9},"parameters":[{"name":"__IMTCONN__","type":"account:monday","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":153017}},{"id":5,"mapper":{"url":"https://api.monday.com/v2","method":"post","headers":[{"name":"Authorization","value":"eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYzNDQzOTk3NSwiYWFpIjoxMSwidWlkIjoxMDEwNzkxMTUsImlhZCI6IjIwMjYtMDMtMTdUMjI6MDI6MjkuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjUxNTY5MTcsInJnbiI6InVzZTEifQ.k74w9ifiaP8bFLxO0CMuI2Sy6Pk0v3pxuhVg1b50_6M"},{"name":"Content-Type","value":"application/json"}],"contentType":"json","inputMethod":"jsonString","shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":true,"jsonStringBodyContent":"{\"query\": \"{ items(ids: [{{1.pulseId}}]) { column_values(ids: [\\\"long_text_mm1jwj6k\\\"]) { text } } }\"}","requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true},{"name":"headers","type":"array","label":"Headers"},{"name":"contentType","type":"select","label":"Body content type"},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error","required":true},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Compressed","required":true},{"name":"inputMethod","type":"select","label":"Body input method","required":true},{"name":"jsonStringBodyContent","type":"text","label":"Body content","required":true}],"designer":{"x":359,"y":6}},"parameters":{"tlsType":"","proxyKeychain":"","apiKeyKeychain":86399,"authenticationType":"apiKey"}},{"id":6,"mapper":{"itemId":"{{4.id}}","boardId":"18401797200","columnValuesToChange":[{"columnId":"long_text_mm0y5paq","columnValue":{"text":"{{5.data.data.items[].column_values[].text}}"}}],"create_labels_if_missing":false},"module":"monday:ChangeMultipleColumnValuesV2","version":2,"metadata":{"expect":[{"name":"boardId","type":"select","label":"Board ID","required":true},{"name":"itemId","type":"select","label":"Item ID","required":true},{"name":"columnValuesToChange","spec":[{"name":"columnId","type":"select","label":"Column ID"}],"type":"array","label":"Column Values to Change","required":true},{"name":"create_labels_if_missing","type":"boolean","label":"Create Labels","required":true}],"designer":{"x":700,"y":0}},"parameters":{"__IMTCONN__":153017}},{"id":3,"mapper":{"data":{"item_id":"{{4.id}}"}},"module":"scenario-service:CallSubscenario","onerror":[{"id":8,"mapper":{"itemId":"{{1.pulseId}}","boardId":"18404381152","columnValuesToChange":[{"columnId":"color_mm1j3rfh","columnValue":{"label":"Error","settings":{"labels":[{"id":0,"hex":"#fdab3d","color":0,"index":0,"label":"Processing","is_done":false,"is_deactivated":false},{"id":1,"hex":"#00c875","color":1,"index":1,"label":"Done","is_done":false,"is_deactivated":false},{"id":2,"hex":"#df2f4a","color":2,"index":2,"label":"Error","is_done":false,"is_deactivated":false}]},"selectType":"label2index"}}],"create_labels_if_missing":false},"module":"monday:ChangeMultipleColumnValuesV2","version":2,"metadata":{"expect":[{"name":"boardId","type":"select","label":"Board ID","required":true},{"name":"create_labels_if_missing","type":"boolean","label":"Create Labels if Missing","required":true},{"name":"itemId","type":"select","label":"Item ID","required":true},{"name":"columnValuesToChange","spec":[{"name":"columnId","type":"select","label":"Column ID","dynamic":true,"options":{"store":[]},"required":true,"validate":false}],"type":"array","label":"Column Values to Change","required":true}],"restore":{"expect":{"itemId":{"mode":"edit"},"boardId":{"mode":"chose","label":"AI Meeting Notes Tracker  ::  public"},"columnValuesToChange":{"mode":"chose","items":[{"columnId":{"mode":"chose","label":"Status"},"columnValue":{"nested":{"label":{"mode":"chose","label":"Error"},"selectType":{"mode":"chose","label":"Label"}}}}]},"create_labels_if_missing":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"monday"},"label":"Kyles API"}}},"designer":{"x":1341,"y":152},"parameters":[{"name":"__IMTCONN__","type":"account:monday","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":153017}}],"version":2,"metadata":{"expect":[{"name":"data","spec":[{"name":"item_id","type":"text","required":true},{"name":"meeting_item_id","type":"text"}],"type":"collection","label":"Scenario Inputs"}],"restore":{"parameters":{"scenario":{"label":"Create Marketing Content"}}},"designer":{"x":1041,"y":2},"interface":[{"help":"Generated marketing content from meeting transcript including blog, LinkedIn post, and SEO metadata","name":"marketing_content","type":"text","label":"","default":"","required":true,"multiline":true}],"parameters":[{"name":"scenario","type":"scenario","label":"Scenario","required":true},{"name":"shouldWaitForExecutionEnd","type":"boolean","label":"Wait for the scenario to finish","required":true}]},"parameters":{"scenario":"SCN_4583539","shouldWaitForExecutionEnd":true}},{"id":7,"mapper":{"itemId":"{{1.pulseId}}","boardId":"18404381152","columnValuesToChange":[{"columnId":"color_mm1j3rfh","columnValue":{"label":"Done","settings":{"labels":[{"id":0,"hex":"#fdab3d","color":0,"index":0,"label":"Processing","is_done":false,"is_deactivated":false},{"id":1,"hex":"#00c875","color":1,"index":1,"label":"Done","is_done":false,"is_deactivated":false},{"id":2,"hex":"#df2f4a","color":2,"index":2,"label":"Error","is_done":false,"is_deactivated":false}]},"selectType":"label2index"}}],"create_labels_if_missing":true},"module":"monday:ChangeMultipleColumnValuesV2","version":2,"metadata":{"expect":[{"name":"boardId","type":"select","label":"Board ID","required":true},{"name":"create_labels_if_missing","type":"boolean","label":"Create Labels if Missing","required":true},{"name":"itemId","type":"any","label":"Item ID","required":true},{"name":"columnValuesToChange","spec":[{"name":"columnId","type":"select","label":"Column ID","dynamic":true,"options":{"store":[]},"required":true,"validate":false}],"type":"array","label":"Column Values to Change","required":true}],"restore":{"expect":{"boardId":{"mode":"edit"},"columnValuesToChange":{"mode":"chose","items":[{"columnId":{"mode":"edit"},"columnValue":{"nested":{"label":{"mode":"chose","label":"Processing"},"selectType":{"mode":"chose","label":"Label"}}}},{"columnId":{"mode":"chose","label":"Status"},"columnValue":{"nested":{"label":{"mode":"chose","label":"Done"},"selectType":{"mode":"chose","label":"Label"}}}}]},"create_labels_if_missing":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"monday"},"label":"Kyles API"}}},"designer":{"x":1341,"y":-148},"parameters":[{"name":"__IMTCONN__","type":"account:monday","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":153017}}],"name":"Meeting Board Sync","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":true,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}},"scheduling":{"type":"immediately"},"concept":false,"created":"2026-03-18T05:42:36.804Z","last_edit":"2026-03-25T01:34:12.206Z","metadata":{"input_spec":[],"output_spec":[]},"idSequence":31}}