globalmobilitypartners/make/scenarios/4632957_v2_blueprint.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {
        "input": "{{var.input.prompt}}\n\nIMPORTANT:\n- Output each key exactly once. Do not repeat keys.\n- hooks must be an array of strings (3 items).\n- faq must be a single string.\n- Return ONLY raw JSON. No markdown, no backticks, no commentary.\n\nReturn ONLY valid JSON:\n\n{\n  \"core_problem\": \"\",\n  \"hidden_risk\": \"\",\n  \"strategic_insight\": \"\",\n  \"objection_handled\": \"\",\n  \"seo_title\": \"\",\n  \"meta_description\": \"\",\n  \"blog\": \"\",\n  \"linkedin_post\": \"\",\n  \"hooks\": [],\n  \"faq\": \"\"\n}\n\n=== INPUT TEXT ===\n{{var.input.transcript}}",
        "model": "o4-mini",
        "store": true,
        "format": {
          "type": "json_object"
        },
        "reasoning": {},
        "background": false,
        "truncation": "auto",
        "inputContentType": "text",
        "max_output_tokens": 8000,
        "createConversation": true,
        "parallel_tool_calls": true
      },
      "module": "openai-gpt-3:createModelResponse",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "inputContentType",
            "type": "select",
            "label": "Prompt Type",
            "required": true,
            "validate": {
              "enum": [
                "text",
                "image",
                "file",
                "prompt",
                "items"
              ]
            }
          },
          {
            "name": "max_output_tokens",
            "type": "integer",
            "label": "Max Output Tokens"
          },
          {
            "name": "tools",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "type",
                  "type": "select",
                  "label": "Type",
                  "options": [
                    {
                      "label": "File search",
                      "value": "file_search",
                      "nested": [
                        {
                          "help": "The IDs of the vector stores to search.",
                          "name": "vector_store_ids",
                          "type": "select",
                          "label": "Vector Store IDs",
                          "options": "rpc://openai-gpt-3/1/getVectorStores",
                          "multiple": true,
                          "required": true,
                          "validate": {
                            "maxItems": 2
                          }
                        },
                        {
                          "help": "A filter to apply based on file attributes.",
                          "name": "filters",
                          "spec": [
                            {
                              "name": "type",
                              "type": "select",
                              "label": "Type",
                              "options": [
                                {
                                  "label": "Equals",
                                  "value": "eq",
                                  "nested": [
                                    {
                                      "help": "The key to compare against the value.",
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key",
                                      "required": true
                                    },
                                    {
                                      "help": "The value to compare against the attribute key",
                                      "name": "value",
                                      "type": "any",
                                      "label": "Value",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Not equal",
                                  "value": "ne",
                                  "nested": [
                                    {
                                      "help": "The key to compare against the value.",
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key",
                                      "required": true
                                    },
                                    {
                                      "help": "The value to compare against the attribute key",
                                      "name": "value",
                                      "type": "any",
                                      "label": "Value",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Greater than",
                                  "value": "gt",
                                  "nested": [
                                    {
                                      "help": "The key to compare against the value.",
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key",
                                      "required": true
                                    },
                                    {
                                      "help": "The value to compare against the attribute key",
                                      "name": "value",
                                      "type": "any",
                                      "label": "Value",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Greater than or equal",
                                  "value": "gte",
                                  "nested": [
                                    {
                                      "help": "The key to compare against the value.",
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key",
                                      "required": true
                                    },
                                    {
                                      "help": "The value to compare against the attribute key",
                                      "name": "value",
                                      "type": "any",
                                      "label": "Value",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Less than",
                                  "value": "lt",
                                  "nested": [
                                    {
                                      "help": "The key to compare against the value.",
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key",
                                      "required": true
                                    },
                                    {
                                      "help": "The value to compare against the attribute key",
                                      "name": "value",
                                      "type": "any",
                                      "label": "Value",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Less than or equal",
                                  "value": "lte",
                                  "nested": [
                                    {
                                      "help": "The key to compare against the value.",
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key",
                                      "required": true
                                    },
                                    {
                                      "help": "The value to compare against the attribute key",
                                      "name": "value",
                                      "type": "any",
                                      "label": "Value",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Compound filter [and]",
                                  "value": "and",
                                  "nested": [
                                    {
                                      "name": "filters",
                                      "spec": {
                                        "spec": [
                                          {
                                            "name": "type",
                                            "type": "select",
                                            "label": "Type",
                                            "options": [
                                              {
                                                "label": "Equals",
                                                "value": "eq"
                                              },
                                              {
                                                "label": "Not equal",
                                                "value": "ne"
                                              },
                                              {
                                                "label": "Greater than",
                                                "value": "gt"
                                              },
                                              {
                                                "label": "Greater than or equal",
                                                "value": "gte"
                                              },
                                              {
                                                "label": "Less than",
                                                "value": "lt"
                                              },
                                              {
                                                "label": "Less than or equal",
                                                "value": "lte"
                                              }
                                            ],
                                            "required": true
                                          },
                                          {
                                            "help": "The key to compare against the value.",
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key",
                                            "required": true
                                          },
                                          {
                                            "help": "The value to compare against the attribute key",
                                            "name": "value",
                                            "type": "any",
                                            "label": "Value",
                                            "required": true
                                          }
                                        ],
                                        "type": "collection",
                                        "label": "Filter"
                                      },
                                      "type": "array",
                                      "label": "Filters",
                                      "labels": {
                                        "add": "Add filter"
                                      },
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Compound filter [or]",
                                  "value": "or",
                                  "nested": [
                                    {
                                      "name": "filters",
                                      "spec": {
                                        "spec": [
                                          {
                                            "name": "type",
                                            "type": "select",
                                            "label": "Type",
                                            "options": [
                                              {
                                                "label": "Equals",
                                                "value": "eq"
                                              },
                                              {
                                                "label": "Not equal",
                                                "value": "ne"
                                              },
                                              {
                                                "label": "Greater than",
                                                "value": "gt"
                                              },
                                              {
                                                "label": "Greater than or equal",
                                                "value": "gte"
                                              },
                                              {
                                                "label": "Less than",
                                                "value": "lt"
                                              },
                                              {
                                                "label": "Less than or equal",
                                                "value": "lte"
                                              }
                                            ],
                                            "required": true
                                          },
                                          {
                                            "help": "The key to compare against the value.",
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key",
                                            "required": true
                                          },
                                          {
                                            "help": "The value to compare against the attribute key",
                                            "name": "value",
                                            "type": "any",
                                            "label": "Value",
                                            "required": true
                                          }
                                        ],
                                        "type": "collection",
                                        "label": "Filter"
                                      },
                                      "type": "array",
                                      "label": "Filters",
                                      "labels": {
                                        "add": "Add filter"
                                      },
                                      "required": true
                                    }
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "collection",
                          "label": "Filters"
                        },
                        {
                          "name": "max_num_results",
                          "type": "integer",
                          "label": "Max Results Number",
                          "validate": {
                            "max": 50,
                            "min": 1
                          }
                        },
                        {
                          "help": "Ranking options for search.",
                          "name": "ranking_options",
                          "spec": [
                            {
                              "help": "The ranker to use for the file search.",
                              "name": "ranker",
                              "type": "select",
                              "label": "Ranker",
                              "options": [
                                {
                                  "label": "auto",
                                  "value": "auto"
                                },
                                {
                                  "label": "default-2024-08-21",
                                  "value": "default-2024-08-21"
                                },
                                {
                                  "label": "default-2024-11-15",
                                  "value": "default-2024-11-15"
                                }
                              ]
                            },
                            {
                              "help": "The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                              "name": "score_threshold",
                              "type": "number",
                              "label": "Score Threshold",
                              "validate": {
                                "max": 1,
                                "min": 0
                              }
                            }
                          ],
                          "type": "collection",
                          "label": "Ranking Options"
                        }
                      ]
                    },
                    {
                      "label": "Function",
                      "value": "function",
                      "nested": [
                        {
                          "help": "The name of the function to call.",
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true
                        },
                        {
                          "help": "A JSON schema object describing the parameters of the function.",
                          "name": "parameters",
                          "type": "json",
                          "label": "Parameters",
                          "required": true
                        },
                        {
                          "help": "Whether to enforce strict parameter validation.",
                          "name": "strict",
                          "type": "boolean",
                          "label": "Strict",
                          "default": true,
                          "required": true
                        },
                        {
                          "help": "A description of the function.",
                          "name": "description",
                          "type": "text",
                          "label": "Description"
                        }
                      ]
                    },
                    {
                      "label": "Computer use preview",
                      "value": "computer_use_preview",
                      "nested": [
                        {
                          "help": "The height of the computer display.",
                          "name": "display_height",
                          "type": "number",
                          "label": "Display Height",
                          "required": true
                        },
                        {
                          "help": "The width of the computer display.",
                          "name": "display_width",
                          "type": "number",
                          "label": "Display Width",
                          "required": true
                        },
                        {
                          "help": "The type of computer environment to control.",
                          "name": "environment",
                          "type": "select",
                          "label": "Environment",
                          "options": [
                            {
                              "label": "Windows",
                              "value": "windows"
                            },
                            {
                              "label": "Mac",
                              "value": "mac"
                            },
                            {
                              "label": "Linux",
                              "value": "linux"
                            },
                            {
                              "label": "Browser",
                              "value": "browser"
                            }
                          ],
                          "required": true
                        }
                      ]
                    },
                    {
                      "label": "Web search preview",
                      "value": "web_search_preview",
                      "nested": [
                        {
                          "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                          "name": "search_context_size",
                          "type": "select",
                          "label": "Search Context Size",
                          "options": [
                            {
                              "label": "Low",
                              "value": "low"
                            },
                            {
                              "label": "Medium",
                              "value": "medium"
                            },
                            {
                              "label": "High",
                              "value": "high"
                            }
                          ]
                        },
                        {
                          "help": "Approximate location parameters for the search.",
                          "name": "user_location",
                          "spec": [
                            {
                              "help": "The type of location approximation.",
                              "name": "type",
                              "type": "select",
                              "label": "Type",
                              "options": [
                                {
                                  "label": "Approximate",
                                  "value": "approximate"
                                }
                              ]
                            },
                            {
                              "help": "The city of the user, e.g. `San Francisco`.",
                              "name": "city",
                              "type": "text",
                              "label": "City"
                            },
                            {
                              "help": "The two-letter ISO country code of the user, e.g. `US`.",
                              "name": "country",
                              "type": "select",
                              "label": "Country",
                              "options": "rpc://openai-gpt-3/1/getCountryCodes"
                            },
                            {
                              "help": "The region of the user, e.g. `California`.",
                              "name": "region",
                              "type": "text",
                              "label": "Region"
                            },
                            {
                              "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                              "name": "timezone",
                              "type": "timezone",
                              "label": "Timezone"
                            }
                          ],
                          "type": "collection",
                          "label": "User Location"
                        }
                      ]
                    },
                    {
                      "label": "Web search preview (2025_03_11)",
                      "value": "web_search_preview_2025_03_11",
                      "nested": [
                        {
                          "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                          "name": "search_context_size",
                          "type": "select",
                          "label": "Search Context Size",
                          "options": [
                            {
                              "label": "Low",
                              "value": "low"
                            },
                            {
                              "label": "Medium",
                              "value": "medium"
                            },
                            {
                              "label": "High",
                              "value": "high"
                            }
                          ]
                        },
                        {
                          "help": "Approximate location parameters for the search.",
                          "name": "user_location",
                          "spec": [
                            {
                              "help": "The type of location approximation.",
                              "name": "type",
                              "type": "select",
                              "label": "Type",
                              "options": [
                                {
                                  "label": "Approximate",
                                  "value": "approximate"
                                }
                              ]
                            },
                            {
                              "help": "The city of the user, e.g. `San Francisco`.",
                              "name": "city",
                              "type": "text",
                              "label": "City"
                            },
                            {
                              "help": "The two-letter ISO country code of the user, e.g. `US`.",
                              "name": "country",
                              "type": "select",
                              "label": "Country",
                              "options": "rpc://openai-gpt-3/1/getCountryCodes"
                            },
                            {
                              "help": "The region of the user, e.g. `California`.",
                              "name": "region",
                              "type": "text",
                              "label": "Region"
                            },
                            {
                              "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                              "name": "timezone",
                              "type": "timezone",
                              "label": "Timezone"
                            }
                          ],
                          "type": "collection",
                          "label": "User Location"
                        }
                      ]
                    },
                    {
                      "label": "MCP",
                      "value": "mcp",
                      "nested": [
                        {
                          "text": "MCP requests will automatically be approved.",
                          "type": "banner",
                          "theme": "info"
                        },
                        {
                          "name": "require_approval",
                          "type": "hidden",
                          "label": "Require Approval",
                          "default": "never"
                        },
                        {
                          "help": "A label for this MCP server, used to identify it in tool calls.",
                          "name": "server_label",
                          "type": "text",
                          "label": "Server Label",
                          "required": true
                        },
                        {
                          "help": "The URL for the MCP server.",
                          "name": "server_url",
                          "type": "url",
                          "label": "Server URL",
                          "required": true
                        },
                        {
                          "help": "List of allowed tool names.",
                          "name": "allowed_tools",
                          "spec": {
                            "type": "text",
                            "label": "Tool"
                          },
                          "type": "array",
                          "label": "Allowed Tools",
                          "labels": {
                            "add": "Add allowed tool"
                          }
                        },
                        {
                          "help": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                          "name": "headers",
                          "spec": {
                            "spec": [
                              {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "collection",
                            "label": "Header"
                          },
                          "type": "array",
                          "label": "Headers",
                          "labels": {
                            "add": "Add header"
                          }
                        }
                      ]
                    },
                    {
                      "label": "Code interpreter",
                      "value": "code_interpreter",
                      "nested": [
                        {
                          "help": "**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                          "name": "container_type",
                          "type": "select",
                          "label": "Container type",
                          "options": [
                            {
                              "label": "Use existing container",
                              "value": "existing_container",
                              "nested": [
                                {
                                  "name": "container",
                                  "type": "select",
                                  "label": "Container",
                                  "options": {
                                    "store": "rpc://openai-gpt-3/1/getContainers"
                                  },
                                  "mappable": {
                                    "help": "Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                  },
                                  "required": true
                                }
                              ]
                            },
                            {
                              "label": "Create new container",
                              "value": "new_container",
                              "nested": [
                                {
                                  "name": "container",
                                  "spec": [
                                    {
                                      "help": "An optional list of uploaded files to make available to your code.",
                                      "name": "file_ids",
                                      "spec": {
                                        "type": "select",
                                        "label": "File ID",
                                        "options": "rpc://openai-gpt-3/1/getFiles"
                                      },
                                      "type": "array",
                                      "label": "File IDs",
                                      "labels": {
                                        "add": "Add file ID"
                                      }
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Container"
                                }
                              ]
                            }
                          ],
                          "required": true
                        }
                      ]
                    },
                    {
                      "label": "Image generation",
                      "value": "image_generation",
                      "nested": [
                        {
                          "help": "Background type for the generated image.",
                          "name": "background",
                          "type": "select",
                          "label": "Background",
                          "options": [
                            {
                              "label": "Auto",
                              "value": "auto"
                            },
                            {
                              "label": "Transparent",
                              "value": "transparent"
                            },
                            {
                              "label": "Opaque",
                              "value": "opaque"
                            }
                          ]
                        },
                        {
                          "help": "Controls how much effort the model will exert to match the style and features of input images, especially facial features.",
                          "name": "input_fidelity",
                          "type": "select",
                          "label": "Input Fidelity",
                          "options": [
                            {
                              "label": "Low",
                              "value": "low"
                            },
                            {
                              "label": "High",
                              "value": "high"
                            }
                          ]
                        },
                        {
                          "help": "Optional mask for inpainting.",
                          "name": "input_image_mask",
                          "spec": [
                            {
                              "name": "mask_input_type",
                              "type": "select",
                              "label": "Mask Input Type",
                              "options": [
                                {
                                  "label": "File ID",
                                  "value": "id",
                                  "nested": [
                                    {
                                      "help": "The ID of the file to be sent to the model.",
                                      "name": "file_id",
                                      "type": "select",
                                      "label": "File ID",
                                      "options": "rpc://openai-gpt-3/1/getFiles",
                                      "required": true
                                    }
                                  ]
                                },
                                {
                                  "label": "Image URL",
                                  "value": "url",
                                  "nested": [
                                    {
                                      "help": "The URL of the image to be sent to the model.",
                                      "name": "image_url",
                                      "type": "url",
                                      "label": "Image URL",
                                      "required": true
                                    }
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "collection",
                          "label": "Input Image Mask"
                        },
                        {
                          "help": "Moderation level for the generated image.",
                          "name": "moderation",
                          "type": "select",
                          "label": "Moderation",
                          "options": [
                            {
                              "label": "Auto",
                              "value": "auto"
                            },
                            {
                              "label": "Low",
                              "value": "low"
                            }
                          ]
                        },
                        {
                          "help": "The output format of the generated image.",
                          "name": "output_format",
                          "type": "select",
                          "label": "Output Format",
                          "options": [
                            {
                              "label": "PNG",
                              "value": "png"
                            },
                            {
                              "label": "WEBP",
                              "value": "webp",
                              "nested": [
                                {
                                  "help": "Compression level for the output image.",
                                  "name": "output_compression",
                                  "type": "number",
                                  "label": "Output Compression",
                                  "validate": {
                                    "max": 100,
                                    "min": 0
                                  }
                                }
                              ]
                            },
                            {
                              "label": "JPEG",
                              "value": "jpeg",
                              "nested": [
                                {
                                  "help": "Compression level for the output image.",
                                  "name": "output_compression",
                                  "type": "number",
                                  "label": "Output Compression",
                                  "validate": {
                                    "max": 100,
                                    "min": 0
                                  }
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "help": "The quality of the generated image.",
                          "name": "quality",
                          "type": "select",
                          "label": "Quality",
                          "options": [
                            {
                              "label": "Auto",
                              "value": "auto"
                            },
                            {
                              "label": "Low",
                              "value": "low"
                            },
                            {
                              "label": "Medium",
                              "value": "medium"
                            },
                            {
                              "label": "High",
                              "value": "high"
                            }
                          ]
                        },
                        {
                          "help": "The size of the generated image.",
                          "name": "size",
                          "type": "select",
                          "label": "Size",
                          "options": [
                            {
                              "label": "1024x1024",
                              "value": "1024x1024"
                            },
                            {
                              "label": "1024x1536",
                              "value": "1024x1536"
                            },
                            {
                              "label": "1536x1024",
                              "value": "1536x1024"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "label": "Custom",
                      "value": "custom",
                      "nested": [
                        {
                          "help": "The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true
                        },
                        {
                          "help": "Description of the custom tool, used to provide more context.",
                          "name": "description",
                          "type": "text",
                          "label": "Description"
                        },
                        {
                          "name": "format",
                          "spec": [
                            {
                              "name": "type",
                              "type": "select",
                              "label": "Type",
                              "options": [
                                {
                                  "label": "Text",
                                  "value": "text"
                                },
                                {
                                  "label": "Grammar",
                                  "value": "grammar",
                                  "nested": [
                                    {
                                      "help": "The syntax of the grammar definition.",
                                      "name": "syntax",
                                      "type": "select",
                                      "label": "Syntax",
                                      "options": [
                                        {
                                          "label": "Lark",
                                          "value": "lark"
                                        },
                                        {
                                          "label": "Regex",
                                          "value": "regex"
                                        }
                                      ],
                                      "required": true
                                    },
                                    {
                                      "help": "The grammar definition.",
                                      "name": "definition",
                                      "type": "text",
                                      "label": "Definition",
                                      "required": true
                                    }
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "collection",
                          "label": "Format"
                        }
                      ]
                    }
                  ],
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Tool"
            },
            "type": "array",
            "label": "Tools"
          },
          {
            "name": "tool_choice",
            "type": "select",
            "label": "Tool Choice",
            "validate": {
              "enum": [
                "none",
                "auto",
                "required",
                "file_search",
                "web_search_preview",
                "computer_use_preview",
                "code_interpreter",
                "function",
                "custom",
                "allowed_tools"
              ]
            }
          },
          {
            "name": "parallel_tool_calls",
            "type": "boolean",
            "label": "Parallel Tool Calls"
          },
          {
            "name": "background",
            "type": "boolean",
            "label": "Run in Background"
          },
          {
            "name": "context_management",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "type",
                  "type": "select",
                  "label": "Context entry type",
                  "options": [
                    {
                      "label": "Compaction",
                      "value": "compaction",
                      "nested": [
                        {
                          "help": "The threshold for compacting the context. When the number of tokens in the context exceeds this threshold, the context will be compacted to reduce token usage. See [OpenAI compaction guide](https://developers.openai.com/api/docs/guides/compaction#server-side-compaction).",
                          "name": "compact_threshold",
                          "type": "integer",
                          "label": "Compact threshold",
                          "validate": {
                            "min": 1000
                          }
                        }
                      ]
                    }
                  ],
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Context entry"
            },
            "type": "array",
            "label": "Context management"
          },
          {
            "name": "conversationId",
            "type": "text",
            "label": "Conversation ID"
          },
          {
            "name": "createConversation",
            "type": "boolean",
            "label": "Create a new conversation",
            "required": true
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P"
          },
          {
            "name": "store",
            "type": "boolean",
            "label": "Store"
          },
          {
            "name": "previous_response_id",
            "type": "text",
            "label": "Previous Response ID"
          },
          {
            "name": "instructions",
            "type": "text",
            "label": "Instructions"
          },
          {
            "name": "reasoning",
            "spec": [
              {
                "name": "effort",
                "type": "select",
                "label": "Effort",
                "validate": {
                  "enum": [
                    "none",
                    "minimal",
                    "low",
                    "medium",
                    "high",
                    "xhigh"
                  ]
                }
              },
              {
                "name": "summary",
                "type": "select",
                "label": "Summary",
                "validate": {
                  "enum": [
                    "auto",
                    "concise",
                    "detailed"
                  ]
                }
              }
            ],
            "type": "collection",
            "label": "Reasoning"
          },
          {
            "name": "format",
            "spec": [
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "validate": {
                  "enum": [
                    "text",
                    "json_schema",
                    "json_object"
                  ]
                }
              }
            ],
            "type": "collection",
            "label": "Output Format"
          },
          {
            "name": "truncation",
            "type": "select",
            "label": "Truncation",
            "validate": {
              "enum": [
                "auto",
                "disabled"
              ]
            }
          },
          {
            "name": "include",
            "type": "select",
            "label": "Include",
            "multiple": true,
            "validate": {
              "enum": [
                "file_search_call.results",
                "code_interpreter_call.outputs",
                "message.input_image.image_url",
                "computer_call_output.output.image_url"
              ]
            }
          },
          {
            "name": "metadata",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Key"
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Metadata"
            },
            "type": "array",
            "label": "Metadata"
          },
          {
            "name": "input",
            "type": "text",
            "label": "Prompt"
          }
        ],
        "restore": {
          "expect": {
            "model": {
              "mode": "chose",
              "label": "o4-mini (system)Fast, cost-efficient reasoning model, succeeded by GPT-5 mini"
            },
            "store": {
              "mode": "chose"
            },
            "tools": {
              "mode": "chose"
            },
            "format": {
              "nested": {
                "type": {
                  "mode": "chose",
                  "label": "Empty"
                }
              }
            },
            "include": {
              "mode": "chose"
            },
            "metadata": {
              "mode": "chose"
            },
            "reasoning": {
              "nested": {
                "effort": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "summary": {
                  "mode": "chose",
                  "label": "Empty"
                }
              }
            },
            "background": {
              "mode": "chose"
            },
            "truncation": {
              "mode": "chose",
              "label": "Auto"
            },
            "tool_choice": {
              "mode": "chose",
              "label": "Empty"
            },
            "inputContentType": {
              "mode": "chose",
              "label": "Text prompt"
            },
            "context_management": {
              "mode": "chose"
            },
            "createConversation": {
              "mode": "chose"
            },
            "parallel_tool_calls": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "My OpenAI connection"
            }
          }
        },
        "advanced": true,
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "name": "result",
            "type": "any",
            "label": "Result"
          },
          {
            "name": "conversationId",
            "type": "text",
            "label": "Conversation ID"
          },
          {
            "name": "raw_result",
            "type": "any",
            "label": "Raw Result"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Response ID"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "created_at",
            "type": "date",
            "label": "Created at"
          },
          {
            "name": "status",
            "type": "text",
            "label": "Status"
          },
          {
            "name": "background",
            "type": "boolean",
            "label": "Background"
          },
          {
            "name": "billing",
            "spec": [
              {
                "name": "payer",
                "type": "text",
                "label": "Payer"
              }
            ],
            "type": "collection",
            "label": "Billing"
          },
          {
            "name": "error",
            "type": "text",
            "label": "Error"
          },
          {
            "name": "max_tool_calls",
            "type": "number",
            "label": "Max Tool Calls"
          },
          {
            "name": "top_logprobs",
            "type": "number",
            "label": "Top Logprobs"
          },
          {
            "name": "incomplete_details",
            "spec": [
              {
                "name": "reason",
                "type": "text",
                "label": "Reason"
              }
            ],
            "type": "collection",
            "label": "Incomplete Details"
          },
          {
            "name": "instructions",
            "type": "any",
            "label": "Instructions"
          },
          {
            "name": "max_output_tokens",
            "type": "number",
            "label": "Max Output Tokens"
          },
          {
            "name": "model",
            "type": "text",
            "label": "Model"
          },
          {
            "name": "output",
            "spec": [
              {
                "name": "input",
                "type": "text",
                "label": "Input"
              },
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "server_label",
                "type": "text",
                "label": "Server Label"
              },
              {
                "name": "background",
                "type": "text",
                "label": "Background"
              },
              {
                "name": "moderation",
                "type": "text",
                "label": "Moderation"
              },
              {
                "name": "n",
                "type": "number",
                "label": "N"
              },
              {
                "name": "output_compression",
                "type": "number",
                "label": "Output compression"
              },
              {
                "name": "output_format",
                "type": "text",
                "label": "Output format"
              },
              {
                "name": "quality",
                "type": "text",
                "label": "Quality"
              },
              {
                "name": "size",
                "type": "text",
                "label": "Size"
              },
              {
                "name": "revised_prompt",
                "type": "text",
                "label": "Revised Prompt"
              },
              {
                "name": "filename",
                "type": "filename",
                "label": "File name",
                "semantic": "file:name"
              },
              {
                "name": "filedata",
                "type": "buffer",
                "label": "File data",
                "semantic": "file:data"
              },
              {
                "name": "encrypted_content",
                "type": "text",
                "label": "Encrypted content"
              },
              {
                "name": "tools",
                "spec": {
                  "spec": [
                    {
                      "name": "annotations",
                      "type": "text",
                      "label": "Annotations"
                    },
                    {
                      "name": "description",
                      "type": "text",
                      "label": "Description"
                    },
                    {
                      "name": "input_schema",
                      "spec": [
                        {
                          "name": "type",
                          "type": "text",
                          "label": "Type"
                        },
                        {
                          "name": "properties",
                          "spec": [
                            {
                              "name": "query",
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "description",
                                  "type": "text",
                                  "label": "Description"
                                }
                              ],
                              "type": "collection",
                              "label": "Query"
                            }
                          ],
                          "type": "collection",
                          "label": "Properties"
                        },
                        {
                          "name": "required",
                          "spec": {
                            "type": "text"
                          },
                          "type": "array",
                          "label": "Required"
                        },
                        {
                          "name": "additionalProperties",
                          "type": "boolean",
                          "label": "Additional Properties"
                        },
                        {
                          "name": "$schema",
                          "type": "text",
                          "label": "Schema"
                        }
                      ],
                      "type": "collection",
                      "label": "Input Schema"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "container",
                      "spec": [
                        {
                          "name": "type",
                          "type": "text",
                          "label": "Type"
                        }
                      ],
                      "type": "collection",
                      "label": "Container"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array",
                "label": "Tools"
              },
              {
                "name": "approval_request_id",
                "type": "text",
                "label": "Approval Request ID"
              },
              {
                "name": "error",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "content",
                    "spec": {
                      "spec": [
                        {
                          "name": "type",
                          "type": "text",
                          "label": "Type"
                        },
                        {
                          "name": "text",
                          "type": "text",
                          "label": "Text"
                        },
                        {
                          "name": "annotations",
                          "type": "text",
                          "label": "Annotations"
                        }
                      ],
                      "type": "collection"
                    },
                    "type": "array",
                    "label": "Content"
                  }
                ],
                "type": "collection",
                "label": "Error"
              },
              {
                "name": "output",
                "type": "text",
                "label": "Output"
              },
              {
                "name": "status",
                "type": "text",
                "label": "Status"
              },
              {
                "name": "queries",
                "spec": {
                  "type": "text"
                },
                "type": "array",
                "label": "Queries"
              },
              {
                "name": "results",
                "spec": {
                  "spec": [
                    {
                      "name": "attributes",
                      "type": "collection",
                      "label": "Attributes"
                    },
                    {
                      "name": "file_id",
                      "type": "text",
                      "label": "File ID"
                    },
                    {
                      "name": "filename",
                      "type": "text",
                      "label": "File name"
                    },
                    {
                      "name": "score",
                      "type": "number",
                      "label": "Score"
                    },
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Text"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array",
                "label": "Results"
              },
              {
                "name": "role",
                "type": "text",
                "label": "Role"
              },
              {
                "name": "call_id",
                "type": "text",
                "label": "Call ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "arguments",
                "type": "text",
                "label": "Arguments"
              },
              {
                "name": "summary",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "text",
                    "label": "Text"
                  }
                ],
                "type": "array",
                "label": "Summary"
              },
              {
                "name": "content",
                "spec": {
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Text"
                    },
                    {
                      "name": "annotations",
                      "spec": {
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "container_id",
                            "type": "text",
                            "label": "Container ID"
                          },
                          {
                            "name": "end_index",
                            "type": "uinteger",
                            "label": "End Index"
                          },
                          {
                            "name": "start_index",
                            "type": "uinteger",
                            "label": "Start Index"
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "file_id",
                            "type": "text",
                            "label": "File ID"
                          },
                          {
                            "name": "filename",
                            "type": "text",
                            "label": "File name"
                          },
                          {
                            "name": "index",
                            "type": "uinteger",
                            "label": "Index"
                          },
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "container_id",
                            "type": "text",
                            "label": "Container ID"
                          }
                        ],
                        "type": "collection"
                      },
                      "type": "array",
                      "label": "Annotations"
                    },
                    {
                      "name": "logprobs",
                      "spec": {
                        "type": "text"
                      },
                      "type": "array",
                      "label": "Logprobs"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array",
                "label": "Content"
              },
              {
                "name": "code",
                "type": "text",
                "label": "Code"
              },
              {
                "name": "container_id",
                "type": "text",
                "label": "Container ID"
              },
              {
                "name": "outputs",
                "spec": {
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "filename",
                      "type": "text",
                      "label": "Filename",
                      "semantic": "file:name"
                    },
                    {
                      "name": "filedata",
                      "type": "buffer",
                      "label": "Data",
                      "semantic": "file:data"
                    },
                    {
                      "name": "url",
                      "type": "text",
                      "label": "Base64 data URL"
                    },
                    {
                      "name": "logs",
                      "type": "text",
                      "label": "Logs"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array",
                "label": "Outputs"
              }
            ],
            "type": "array",
            "label": "Output"
          },
          {
            "name": "parallel_tool_calls",
            "type": "boolean",
            "label": "Parallel Tool Calls"
          },
          {
            "name": "previous_response_id",
            "type": "text",
            "label": "Previous Response ID"
          },
          {
            "name": "prompt",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "variables",
                "type": "array",
                "label": "Variables"
              },
              {
                "name": "version",
                "type": "text",
                "label": "Version"
              }
            ],
            "type": "collection",
            "label": "Prompt"
          },
          {
            "name": "reasoning",
            "spec": [
              {
                "name": "effort",
                "type": "text",
                "label": "Effort"
              },
              {
                "name": "summary",
                "type": "text",
                "label": "Summary"
              }
            ],
            "type": "collection",
            "label": "Reasoning"
          },
          {
            "name": "service_tier",
            "type": "text",
            "label": "Service Tier"
          },
          {
            "name": "store",
            "type": "boolean",
            "label": "Store"
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature"
          },
          {
            "name": "text",
            "spec": [
              {
                "name": "format",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "description",
                    "type": "text",
                    "label": "Description"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "schema",
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "properties",
                        "type": "collection",
                        "label": "Properties"
                      },
                      {
                        "name": "additionalProperties",
                        "type": "boolean",
                        "label": "Additional Properties"
                      },
                      {
                        "name": "required",
                        "type": "array",
                        "label": "Required"
                      }
                    ],
                    "type": "collection",
                    "label": "Schema"
                  },
                  {
                    "name": "strict",
                    "type": "boolean",
                    "label": "Strict"
                  }
                ],
                "type": "collection",
                "label": "Format"
              },
              {
                "name": "verbosity",
                "type": "text",
                "label": "Verbosity"
              }
            ],
            "type": "collection",
            "label": "Text"
          },
          {
            "name": "tool_choice",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "mode",
                "type": "text",
                "label": "Mode"
              },
              {
                "name": "tools",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "server_label",
                    "type": "text",
                    "label": "Server Label"
                  }
                ],
                "type": "array",
                "label": "Tools"
              }
            ],
            "type": "collection",
            "label": "Tool Choice"
          },
          {
            "name": "tools",
            "spec": {
              "spec": [
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "search_context_size",
                  "type": "text",
                  "label": "Search Context Size"
                },
                {
                  "name": "user_location",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "city",
                      "type": "text",
                      "label": "City"
                    },
                    {
                      "name": "country",
                      "type": "text",
                      "label": "Country"
                    },
                    {
                      "name": "region",
                      "type": "text",
                      "label": "Region"
                    },
                    {
                      "name": "timezone",
                      "type": "timezone",
                      "label": "Timezone"
                    }
                  ],
                  "type": "collection",
                  "label": "User Location"
                },
                {
                  "name": "description",
                  "type": "text",
                  "label": "Description"
                },
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name"
                },
                {
                  "name": "allowed_tools",
                  "type": "text",
                  "label": "Allowed Tools"
                },
                {
                  "name": "headers",
                  "type": "collection",
                  "label": "Headers"
                },
                {
                  "name": "require_approval",
                  "type": "text",
                  "label": "Require Approval"
                },
                {
                  "name": "server_label",
                  "type": "text",
                  "label": "Server Label"
                },
                {
                  "name": "server_url",
                  "type": "url",
                  "label": "Server URL"
                },
                {
                  "name": "parameters",
                  "type": "collection",
                  "label": "Parameters"
                },
                {
                  "name": "strict",
                  "type": "boolean",
                  "label": "Strict"
                },
                {
                  "name": "filters",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "key",
                      "type": "text",
                      "label": "Key"
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Filters"
                },
                {
                  "name": "max_num_results",
                  "type": "number",
                  "label": "Max Results Number"
                },
                {
                  "name": "ranking_options",
                  "spec": [
                    {
                      "name": "ranker",
                      "type": "text",
                      "label": "Ranker"
                    },
                    {
                      "name": "score_threshold",
                      "type": "number",
                      "label": "Score Threshold"
                    }
                  ],
                  "type": "collection",
                  "label": "Ranking Options"
                },
                {
                  "name": "vector_store_ids",
                  "spec": {
                    "type": "text"
                  },
                  "type": "array",
                  "label": "Vector Store IDs"
                },
                {
                  "name": "container",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "file_ids",
                      "spec": {
                        "type": "text"
                      },
                      "type": "array",
                      "label": "File ids"
                    }
                  ],
                  "type": "collection",
                  "label": "Container"
                },
                {
                  "name": "format",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "definition",
                      "type": "text",
                      "label": "Definition"
                    },
                    {
                      "name": "syntax",
                      "type": "text",
                      "label": "Syntax"
                    }
                  ],
                  "type": "collection",
                  "label": "Format"
                },
                {
                  "name": "background",
                  "type": "text",
                  "label": "Background"
                },
                {
                  "name": "moderation",
                  "type": "text",
                  "label": "Moderation"
                },
                {
                  "name": "n",
                  "type": "number",
                  "label": "N"
                },
                {
                  "name": "output_compression",
                  "type": "number",
                  "label": "Output compression"
                },
                {
                  "name": "output_format",
                  "type": "text",
                  "label": "Output format"
                },
                {
                  "name": "quality",
                  "type": "text",
                  "label": "Quality"
                },
                {
                  "name": "size",
                  "type": "text",
                  "label": "Size"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Tools"
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P"
          },
          {
            "name": "truncation",
            "type": "text",
            "label": "Truncation"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "input_tokens",
                "type": "number",
                "label": "Input Tokens"
              },
              {
                "name": "input_tokens_details",
                "spec": [
                  {
                    "name": "cached_tokens",
                    "type": "number",
                    "label": "Cached Tokens"
                  }
                ],
                "type": "collection",
                "label": "Input Tokens Details"
              },
              {
                "name": "output_tokens",
                "type": "number",
                "label": "Output Tokens"
              },
              {
                "name": "output_tokens_details",
                "spec": [
                  {
                    "name": "reasoning_tokens",
                    "type": "number",
                    "label": "Reasoning Tokens"
                  }
                ],
                "type": "collection",
                "label": "Output Tokens Details"
              },
              {
                "name": "total_tokens",
                "type": "number",
                "label": "Total Tokens"
              }
            ],
            "type": "collection",
            "label": "Usage"
          },
          {
            "name": "user",
            "type": "text",
            "label": "User"
          },
          {
            "name": "metadata",
            "type": "collection",
            "label": "Metadata"
          },
          {
            "name": "prompt_cache_key",
            "type": "text",
            "label": "Prompt Cache Key"
          },
          {
            "name": "safety_identifier",
            "type": "text",
            "label": "Safety Identifier"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 4683909
      }
    },
    {
      "id": 3,
      "mapper": {
        "json": "{{2.result}}"
      },
      "module": "json:ParseJSON",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 10,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "mapper": {
                "itemId": "{{var.input.item_id}}",
                "boardId": "{{var.input.board_id}}",
                "columnValuesToChange": [
                  {
                    "columnId": "long_text_mm0y6akq",
                    "columnValue": {
                      "text": "{{3.core_problem}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm0y5wsy",
                    "columnValue": {
                      "text": "{{3.hidden_risk}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm0ytt6x",
                    "columnValue": {
                      "text": "{{3.strategic_insight}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm0yyfr9",
                    "columnValue": {
                      "text": "{{3.objection_handled}}"
                    }
                  },
                  {
                    "columnId": "text_mm0ytyts",
                    "columnValue": "{{3.seo_title}}"
                  },
                  {
                    "columnId": "text_mm0ywtxh",
                    "columnValue": "{{3.meta_description}}"
                  },
                  {
                    "columnId": "long_text_mm0ygp2e",
                    "columnValue": {
                      "text": "{{3.linkedin_post}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm0y9fs1",
                    "columnValue": {
                      "text": "{{3.faq}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm0y6gaj",
                    "columnValue": {
                      "text": "{{3.hooks}}"
                    }
                  }
                ],
                "create_labels_if_missing": true
              },
              "module": "monday:ChangeMultipleColumnValuesV2",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "boardId",
                    "type": "select",
                    "label": "Board ID",
                    "required": true
                  },
                  {
                    "name": "create_labels_if_missing",
                    "type": "boolean",
                    "label": "Create Labels if Missing",
                    "required": true
                  },
                  {
                    "name": "itemId",
                    "type": "select",
                    "label": "Item ID",
                    "required": true
                  },
                  {
                    "name": "columnValuesToChange",
                    "spec": [
                      {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID",
                        "dynamic": true,
                        "options": {
                          "store": []
                        },
                        "required": true,
                        "validate": false
                      }
                    ],
                    "type": "array",
                    "label": "Column Values to Change",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "itemId": {
                      "mode": "edit"
                    },
                    "boardId": {
                      "mode": "edit"
                    },
                    "columnValuesToChange": {
                      "mode": "chose",
                      "items": [
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Core Problem"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Hidden Risk"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Strategic Insight"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Objection Handled"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "SEO Title"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Meta Description"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "LinkedIn Post"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "FAQ Entry"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "LinkedIn Hooks"
                          }
                        }
                      ]
                    },
                    "create_labels_if_missing": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "monday"
                      },
                      "label": "Monday Bot"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": -150
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:monday",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 153017
              },
              "filter": {
                "name": "Blog or Email board",
                "conditions": [
                  [
                    {
                      "a": "{{var.input.board_id}}",
                      "b": "18405333684",
                      "o": "text:equal"
                    }
                  ],
                  [
                    {
                      "a": "{{var.input.board_id}}",
                      "b": "18405340749",
                      "o": "text:equal"
                    }
                  ]
                ]
              }
            },
            {
              "id": 5,
              "mapper": {
                "url": "https://api.monday.com/v2",
                "method": "post",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYzNDQzOTk3NSwiYWFpIjoxMSwidWlkIjoxMDEwNzkxMTUsImlhZCI6IjIwMjYtMDMtMTdUMjI6MDI6MjkuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjUxNTY5MTcsInJnbiI6InVzZTEifQ.k74w9ifiaP8bFLxO0CMuI2Sy6Pk0v3pxuhVg1b50_6M"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\"query\": \"mutation($itemId: ID!, $body: String!) { create_update(item_id: $itemId, body: $body) { id } }\", \"variables\": {\"itemId\": \"{{var.input.item_id}}\", \"body\": \"{{replace(replace(3.blog; \\\"\\\"\\\"\\\"; \"'\"); newline; \\\"\\\")}}\"}}",
                "requestCompressedContent": true
              },
              "module": "http:MakeRequest",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "get",
                        "head",
                        "post",
                        "put",
                        "patch",
                        "delete",
                        "options"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true,
                          "validate": {
                            "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                          }
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Header"
                    },
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "queryParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Parameter"
                    },
                    "type": "array",
                    "label": "Query parameters"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Body content type",
                    "validate": {
                      "enum": [
                        "json",
                        "multipart",
                        "urlEncoded",
                        "custom"
                      ]
                    }
                  },
                  {
                    "name": "parseResponse",
                    "type": "boolean",
                    "label": "Parse response",
                    "required": true
                  },
                  {
                    "name": "stopOnHttpError",
                    "type": "boolean",
                    "label": "Return error if HTTP request fails",
                    "required": true
                  },
                  {
                    "name": "timeout",
                    "type": "uinteger",
                    "label": "Timeout",
                    "validate": {
                      "max": 300,
                      "min": 1
                    }
                  },
                  {
                    "name": "allowRedirects",
                    "type": "boolean",
                    "label": "Allow redirects",
                    "required": true
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  },
                  {
                    "name": "requestCompressedContent",
                    "type": "boolean",
                    "label": "Request compressed content",
                    "required": true
                  },
                  {
                    "name": "inputMethod",
                    "type": "select",
                    "label": "Body input method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "dataStructure",
                        "jsonString"
                      ]
                    }
                  },
                  {
                    "name": "jsonStringBodyContent",
                    "type": "text",
                    "label": "Body content",
                    "required": true
                  },
                  {
                    "name": "paginationType",
                    "type": "select",
                    "label": "Pagination type",
                    "validate": {
                      "enum": [
                        "offsetBased",
                        "pageBased",
                        "urlBased",
                        "tokenBased"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "method": {
                      "mode": "chose",
                      "label": "POST"
                    },
                    "headers": {
                      "mode": "chose",
                      "items": [
                        null,
                        null
                      ]
                    },
                    "contentType": {
                      "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                    },
                    "inputMethod": {
                      "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                    },
                    "shareCookies": {
                      "mode": "chose"
                    },
                    "parseResponse": {
                      "mode": "chose"
                    },
                    "allowRedirects": {
                      "mode": "chose"
                    },
                    "paginationType": {
                      "label": "Empty"
                    },
                    "queryParameters": {
                      "mode": "chose"
                    },
                    "stopOnHttpError": {
                      "mode": "chose"
                    },
                    "requestCompressedContent": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "tlsType": {
                      "label": "Empty"
                    },
                    "proxyKeychain": {
                      "label": "Choose a key"
                    },
                    "apiKeyKeychain": {
                      "label": "Monday API Key"
                    },
                    "authenticationType": {
                      "label": "API keyUse when the service requires an API key."
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": -150
                },
                "interface": [
                  {
                    "name": "data",
                    "type": "any",
                    "label": "Data"
                  },
                  {
                    "name": "statusCode",
                    "type": "number",
                    "label": "Status Code"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "content-length",
                        "type": "text",
                        "label": "Content-Length"
                      },
                      {
                        "name": "content-encoding",
                        "type": "text",
                        "label": "Content-Encoding"
                      },
                      {
                        "name": "content-type",
                        "type": "text",
                        "label": "Content-Type"
                      },
                      {
                        "name": "server",
                        "type": "text",
                        "label": "Server"
                      },
                      {
                        "name": "cache-control",
                        "type": "text",
                        "label": "Cache-Control"
                      },
                      {
                        "name": "set-cookie",
                        "spec": {
                          "type": "text"
                        },
                        "type": "array",
                        "label": "Set-Cookie"
                      }
                    ],
                    "type": "collection",
                    "label": "Headers"
                  }
                ],
                "parameters": [
                  {
                    "name": "authenticationType",
                    "type": "select",
                    "label": "Authentication type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "noAuth",
                        "apiKey",
                        "basicAuth",
                        "oAuth"
                      ]
                    }
                  },
                  {
                    "name": "tlsType",
                    "type": "select",
                    "label": "Transport layer security (TLS)",
                    "validate": {
                      "enum": [
                        "mTls",
                        "tls"
                      ]
                    }
                  },
                  {
                    "name": "proxyKeychain",
                    "type": "keychain:proxy",
                    "label": "Proxy"
                  },
                  {
                    "name": "apiKeyKeychain",
                    "type": "keychain:apikeyauth",
                    "label": "Credentials",
                    "required": true
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "mapper": {
                "itemId": "{{var.input.item_id}}",
                "boardId": "{{var.input.board_id}}",
                "columnValuesToChange": [
                  {
                    "columnId": "long_text_mm1qbzfb",
                    "columnValue": {
                      "text": "{{3.core_problem}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm1qj7q7",
                    "columnValue": {
                      "text": "{{3.hidden_risk}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm1qytdh",
                    "columnValue": {
                      "text": "{{3.strategic_insight}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm1qsws2",
                    "columnValue": {
                      "text": "{{3.objection_handled}}"
                    }
                  },
                  {
                    "columnId": "text_mm1qzehq",
                    "columnValue": "{{3.seo_title}}"
                  },
                  {
                    "columnId": "text_mm1qen4b",
                    "columnValue": "{{3.meta_description}}"
                  },
                  {
                    "columnId": "long_text_mm1q51qs",
                    "columnValue": {
                      "text": "{{3.linkedin_post}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm1qanha",
                    "columnValue": {
                      "text": "{{3.faq}}"
                    }
                  },
                  {
                    "columnId": "long_text_mm1qp4x7",
                    "columnValue": {
                      "text": "{{3.hooks}}"
                    }
                  }
                ],
                "create_labels_if_missing": true
              },
              "module": "monday:ChangeMultipleColumnValuesV2",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "boardId",
                    "type": "select",
                    "label": "Board ID",
                    "required": true
                  },
                  {
                    "name": "create_labels_if_missing",
                    "type": "boolean",
                    "label": "Create Labels if Missing",
                    "required": true
                  },
                  {
                    "name": "itemId",
                    "type": "select",
                    "label": "Item ID",
                    "required": true
                  },
                  {
                    "name": "columnValuesToChange",
                    "spec": [
                      {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID",
                        "dynamic": true,
                        "options": {
                          "store": []
                        },
                        "required": true,
                        "validate": false
                      }
                    ],
                    "type": "array",
                    "label": "Column Values to Change",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "itemId": {
                      "mode": "edit"
                    },
                    "boardId": {
                      "mode": "edit"
                    },
                    "columnValuesToChange": {
                      "mode": "chose",
                      "items": [
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Core Problem"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Hidden Risk"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Strategic Insight"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Objection Handled"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "SEO Title"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "Meta Description"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "LinkedIn Post"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "FAQ Entry"
                          }
                        },
                        {
                          "columnId": {
                            "mode": "chose",
                            "label": "LinkedIn Hooks"
                          }
                        }
                      ]
                    },
                    "create_labels_if_missing": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "monday"
                      },
                      "label": "Monday Bot"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 150
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:monday",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 153017
              },
              "filter": {
                "name": "LinkedIn board",
                "conditions": [
                  [
                    {
                      "a": "{{var.input.board_id}}",
                      "b": "18405134840",
                      "o": "text:equal"
                    }
                  ],
                  [
                    {
                      "a": "{{var.input.board_id}}",
                      "b": "18405340870",
                      "o": "text:equal"
                    }
                  ]
                ]
              }
            },
            {
              "id": 7,
              "mapper": {
                "url": "https://api.monday.com/v2",
                "method": "post",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYzNDQzOTk3NSwiYWFpIjoxMSwidWlkIjoxMDEwNzkxMTUsImlhZCI6IjIwMjYtMDMtMTdUMjI6MDI6MjkuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjUxNTY5MTcsInJnbiI6InVzZTEifQ.k74w9ifiaP8bFLxO0CMuI2Sy6Pk0v3pxuhVg1b50_6M"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\"query\": \"mutation($itemId: ID!, $body: String!) { create_update(item_id: $itemId, body: $body) { id } }\", \"variables\": {\"itemId\": \"{{var.input.item_id}}\", \"body\": \"{{replace(replace(3.blog; \\\"\\\"\\\"\\\"; \"'\"); newline; \\\"\\\")}}\"}}",
                "requestCompressedContent": true
              },
              "module": "http:MakeRequest",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "get",
                        "head",
                        "post",
                        "put",
                        "patch",
                        "delete",
                        "options"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true,
                          "validate": {
                            "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                          }
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Header"
                    },
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "queryParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Parameter"
                    },
                    "type": "array",
                    "label": "Query parameters"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Body content type",
                    "validate": {
                      "enum": [
                        "json",
                        "multipart",
                        "urlEncoded",
                        "custom"
                      ]
                    }
                  },
                  {
                    "name": "parseResponse",
                    "type": "boolean",
                    "label": "Parse response",
                    "required": true
                  },
                  {
                    "name": "stopOnHttpError",
                    "type": "boolean",
                    "label": "Return error if HTTP request fails",
                    "required": true
                  },
                  {
                    "name": "timeout",
                    "type": "uinteger",
                    "label": "Timeout",
                    "validate": {
                      "max": 300,
                      "min": 1
                    }
                  },
                  {
                    "name": "allowRedirects",
                    "type": "boolean",
                    "label": "Allow redirects",
                    "required": true
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  },
                  {
                    "name": "requestCompressedContent",
                    "type": "boolean",
                    "label": "Request compressed content",
                    "required": true
                  },
                  {
                    "name": "inputMethod",
                    "type": "select",
                    "label": "Body input method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "dataStructure",
                        "jsonString"
                      ]
                    }
                  },
                  {
                    "name": "jsonStringBodyContent",
                    "type": "text",
                    "label": "Body content",
                    "required": true
                  },
                  {
                    "name": "paginationType",
                    "type": "select",
                    "label": "Pagination type",
                    "validate": {
                      "enum": [
                        "offsetBased",
                        "pageBased",
                        "urlBased",
                        "tokenBased"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "method": {
                      "mode": "chose",
                      "label": "POST"
                    },
                    "headers": {
                      "mode": "chose",
                      "items": [
                        null,
                        null
                      ]
                    },
                    "contentType": {
                      "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                    },
                    "inputMethod": {
                      "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                    },
                    "shareCookies": {
                      "mode": "chose"
                    },
                    "parseResponse": {
                      "mode": "chose"
                    },
                    "allowRedirects": {
                      "mode": "chose"
                    },
                    "paginationType": {
                      "label": "Empty"
                    },
                    "queryParameters": {
                      "mode": "chose"
                    },
                    "stopOnHttpError": {
                      "mode": "chose"
                    },
                    "requestCompressedContent": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "tlsType": {
                      "label": "Empty"
                    },
                    "proxyKeychain": {
                      "label": "Choose a key"
                    },
                    "apiKeyKeychain": {
                      "label": "Monday API Key"
                    },
                    "authenticationType": {
                      "label": "API keyUse when the service requires an API key."
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 150
                },
                "interface": [
                  {
                    "name": "data",
                    "type": "any",
                    "label": "Data"
                  },
                  {
                    "name": "statusCode",
                    "type": "number",
                    "label": "Status Code"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "content-length",
                        "type": "text",
                        "label": "Content-Length"
                      },
                      {
                        "name": "content-encoding",
                        "type": "text",
                        "label": "Content-Encoding"
                      },
                      {
                        "name": "content-type",
                        "type": "text",
                        "label": "Content-Type"
                      },
                      {
                        "name": "server",
                        "type": "text",
                        "label": "Server"
                      },
                      {
                        "name": "cache-control",
                        "type": "text",
                        "label": "Cache-Control"
                      },
                      {
                        "name": "set-cookie",
                        "spec": {
                          "type": "text"
                        },
                        "type": "array",
                        "label": "Set-Cookie"
                      }
                    ],
                    "type": "collection",
                    "label": "Headers"
                  }
                ],
                "parameters": [
                  {
                    "name": "authenticationType",
                    "type": "select",
                    "label": "Authentication type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "noAuth",
                        "apiKey",
                        "basicAuth",
                        "oAuth"
                      ]
                    }
                  },
                  {
                    "name": "tlsType",
                    "type": "select",
                    "label": "Transport layer security (TLS)",
                    "validate": {
                      "enum": [
                        "mTls",
                        "tls"
                      ]
                    }
                  },
                  {
                    "name": "proxyKeychain",
                    "type": "keychain:proxy",
                    "label": "Proxy"
                  },
                  {
                    "name": "apiKeyKeychain",
                    "type": "keychain:apikeyauth",
                    "label": "Credentials",
                    "required": true
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "name": "ChatGPT Prompt",
  "metadata": {
    "instant": false,
    "version": 1,
    "input_spec": [
      {
        "name": "item_id",
        "type": "text",
        "required": true
      },
      {
        "name": "board_id",
        "type": "text",
        "required": true
      },
      {
        "name": "prompt",
        "type": "text",
        "required": true
      },
      {
        "name": "transcript",
        "type": "text",
        "required": true
      }
    ]
  }
}